# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# Logs
*.log

# OS junk
.DS_Store
Thumbs.db

# Test coverage
htmlcov/
.coverage
.cache/

# Pytest
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pydantic generated cache
.pdm.toml
